#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skillTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    max-width: 65rem;

}
.skillDesc {
    display: flex;
    text-align: center;
    font-weight: 300;
    font-size: 0.9rem;
    padding: 0 2rem;
    max-width: 65rem;
}

.skillName {
    display: flow;
    justify-items: center;
}

.skillIntro {
    display: flex;
    text-align: center;
    margin: 2rem 2rem;
    font-weight: 400;
    max-width: 65rem;
}

.skillIcon {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}


.skill-name {
    margin-top: 0.25rem;
}

.skillIconImg {
    height: 5vh;
}


@media screen and (max-width: 750px) {
    .skillIcon {
        display: inline-grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .skillIconImg {
        height: 5vh;
        /* width: 14vw; */
    }
    
   
}

@media screen and (max-width: 440px) {
    .skillIcon {
        display: inline-grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .skillIconImg {
        height: 5vh;
        /* width: 14vw; */
    }
    
}