#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    top: -4;
    z-index: -1;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: #b1fb79;
}

.introDesc {
    font-size: medium;
    font-weight: 500;
    letter-spacing: 1px;   
    margin-top: 0.5rem;
    letter-spacing: 1px;   
    width: 40vw;
}

.introPara {
    font-size: medium;
    font-weight: 200;
    letter-spacing: 1px;   
    font-size: 24px;
    animation: fadeInOut 2s infinite, moveUpDown 2s infinite;;
}

.btn {
    background: white;
    color: black;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.btn:hover {
    background: #b1fb79;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;

}

@keyframes fadeInOut {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
@media screen and(max-width: 840px) {
    /* .bg{
        right: -10vw;
    } */
    .introContent {
        font-size: 10vw;   
    }
    .hello {
        font-size: 4.5vw;
    }
    
}